*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Great Vibes", cursive;
  font-size: 30px;
  color: #444;
}

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  --blur-fondo: 3px;

  position: relative;
  background: transparent;
}

body::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  z-index: -1;

  background-image: url(../images/bg-main.png);
  background-repeat: repeat-y;
  background-size: 100% auto;

  filter: blur(var(--blur-fondo));
}

section
{
  padding-top: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.sec{
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  background-color: white;
  position: relative;
  width: 85%;
  max-width: 450px;
  z-index: 1001;
  background-image: url(../images/paper-bg.jpg);
  background-size: auto;
  border: 10px #c4c7a8 solid;
}

.sec > h2 {
  font: 3m;
}

.wave{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-size: 1000px 100px;
  animation: animate 4s ease-in-out infinite;
  animation-delay: calc(var(--i) * 0.25s);
}

.wave#wave1{
  z-index: 1000;
  opacity: 1;
  background-position: 400px;
  background: url(../images/wave-blue.png);
}

.wave#wave2{
  z-index: 999;
  opacity: 0.7;
  background-position: 300px;
  background: url(../images/wave-blue.png);
}

.wave#wave3{
  z-index: 998;
  opacity: 0.5;
  background-position: 200px;
  background: url(../images/wave-white.png);
}

.wave#wave4{
  z-index: 999;
  opacity: 0.8;
  background-position: 100px;
  background: url(../images/wave-white.png);
}

.hero-icon{
  width: 80%;
  max-width: 450px;
  height: 100%;
  object-fit: contain;
  display: block;
  margin: auto;
} 

/* .hero-icon{
  width: 80%;
  height: 100%;
  object-fit: contain;
  display: block;
  margin: auto;
} */


.photo-gallery{
  display: flex;
  flex-direction: column;
}

.polaroid {
  background-color:white;
  padding:10px 10px 50px 10px;
  border:1px solid #BFBFBF;
  box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);
}

.polaroid-container:not(:has(> span.polaroid-text)){
  padding-bottom: 80px;
}

.polaroid-container {
  width: 350px;
  max-width: 350px;
  padding: 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.8);
  margin-bottom: -45px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  max-height: fit-content;
  margin: auto;
  position: relative;
}

.polaroid-container:nth-child(even){
  left: -80px;
}

.polaroid-container:nth-child(odd){
  left: 30px;
}

.tape{
  position: absolute;
  top: -50px;
  opacity: 0.75;
  width: 220px;
  margin: auto;
  display: block;
}

.polaroid-container > img:not(.tape) {
  width: 100%;
}

.polaroid-text {
    display:block;
    margin-top:1em;
    text-align:center;
    font-style:italic;
    font-family: "Permanent Marker", cursive;
    color: #586957
}

.rotate-left {
  right: 0px;
  transform:rotate(10deg);
  -ms-transform:rotate(10deg); /* IE9 */
  -webkit-transform:rotate(10deg); /* Safari y Chrome */
  -moz-transform:rotate(10deg); 
}
 
.rotate-right {
  left: 0px;
  transform:rotate(-10deg);
  -ms-transform:rotate(-10deg); /* IE9 */
  -webkit-transform:rotate(-10deg); /* Safari y Chrome */
  -moz-transform:rotate(-10deg); 
}

.polaroid-container.special-photo{  
  transform:rotate(-1deg);
  -ms-transform:rotate(-1deg); /* IE9 */
  -webkit-transform:rotate(-1deg); /* Safari y Chrome */
  -moz-transform:rotate(-1deg); 
  margin: 0 auto;
  width: 500px;
  left: -10px;
}

.calendar-container{
  margin-top: 200px;
  width: 100%;
  position: relative;
}

.calendar{
  width: 100%;
}


@media (max-width: 530px) {
.polaroid-container{
  margin: auto;
}
}

@media (max-width: 320px) {
 .polaroid-container:nth-child(even){
    left: -35%;
  }

  .polaroid-container:nth-child(odd){
    left: -35%;
  }
}


.corazon {
  position: absolute;
  width: 110px;
  transform: rotate(5deg);
  overflow: visible;
  pointer-events: none;
  top: 177px;
  left: 181px;
}

.corazon path {
  fill: none;
  stroke: #ab7a7a;
  stroke-width: 8;
  stroke-linecap: round;
  stroke-linejoin: round;

  /* efecto de trazo dibujado */
  stroke-dasharray: 600;
  stroke-dashoffset: 600;

  animation: dibujar-corazon 4s ease-in-out infinite;
}

@keyframes dibujar-corazon {
  0% {
      stroke-dashoffset: 600;
  }

  45% {
      stroke-dashoffset: 0;
  }

  65% {
      stroke-dashoffset: 0;
  }

  100% {
      stroke-dashoffset: 600;
  }
}