
/* GENERAL */
/* ______________________________________________________________ */
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Great Vibes", cursive;
  font-size: 30px;
  color: #444;
}

h1{
  font-size: 60px;
}

h2{
  font-size: 45px;
}

h3{
  font-size: 35px;
}

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  --blur-fondo: 3px;

  position: relative;
  background: transparent;
  padding-bottom: 50px;
}

body::before {
  content: "";

  position: fixed;
  inset: 0;

  z-index: -1;

  background-image: url("../images/bg-main.png");
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: center var(--parallax-fondo, 0px);

  filter: blur(var(--blur-fondo, 3px));

  pointer-events: none;
}


.flex-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-column{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.flex-column > * {
  flex: 1;
}


/* CABECERA DE INICIO */
/* ______________________________________________________________ */

section
{
  padding-top: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
}

section .scroll-message {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 100px;
}


section .scroll-message i.fa,
section .scroll-message p {
  font-size: 45px;
}

section .scroll-message i.fa {
  animation: mover-vertical 2s ease-in-out infinite;
}

.hero-icon{
  width: 80%;
  max-width: 800px;
  flex: 6;
  object-fit: contain;
  display: block;
  margin: auto;
}

@keyframes mover-vertical {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px); /* Se mueve hacia arriba */
  }
  100% {
    transform: translateY(0); /* Regresa a su posición inicial */
  }
}

/* SECCIONES PRINCIPALES */
/* ______________________________________________________________ */


.middle-section{
  text-align: center;
  margin: 0 auto;
  background-color: white;
  position: relative;
  width: 85%;
  /* max-width: 450px; */
  z-index: 1001;
  border: 10px #c4c7a8 solid;
  container-type: inline-size;
}

.paper-zone{
  position: relative;
  padding: 20px;
  width: 100%;
  background-color: #ffffff;
}

.green-zone{
  position: relative;
  padding: 120px 20px 120px 20px;
  width: 100%;
  background-size: auto;
  background: repeating-linear-gradient(
    90deg,
    #ecf0e9,
    #ecf0e9 10px,
    #c4c7a8 10px,
    #c4c7a8 20px
  );
  /* background-color: rgb(105, 119, 105); */
}

.divisor{
  height: 50px;
  position: relative;
  width: 100%;
  height: 0;
  z-index: 10;
}

.divisor.reverse{
  transform: scaleX(-1);
}

.divisor img {
  position: absolute;
  width: 100%;
  height: 100px;
  display: block;
  margin-top: -1px;
}

.divisor.top img{
  bottom: 0px;
}

.divisor.bottom img{
  top: 0px;
}


/* OLA PARALLAX */
/* ______________________________________________________________ */

.wave{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-size: 1000px 100px;
  animation: animate 4s ease-in-out infinite;
  animation-delay: calc(var(--i) * 0.25s);
}

.wave#wave1{
  z-index: 1000;
  opacity: 1;
  background-position: 400px;
  background: url(../images/wave-blue.png);
}

.wave#wave2{
  z-index: 999;
  opacity: 0.7;
  background-position: 300px;
  background: url(../images/wave-blue.png);
}

.wave#wave3{
  z-index: 998;
  opacity: 0.5;
  background-position: 200px;
  background: url(../images/wave-white.png);
}

.wave#wave4{
  z-index: 999;
  opacity: 0.8;
  background-position: 100px;
  background: url(../images/wave-white.png);
}

/* IMAGENES */
/* ______________________________________________________________ */

.polaroid {
  background-color:white;
  padding:10px 10px 50px 10px;
  border:1px solid #BFBFBF;
  box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);
}

.polaroid-container:not(:has(> span.polaroid-text)){
  padding-bottom: 80px;
}

.polaroid-container {
  width: 100%;
  min-width: 250px;
  max-width: 350px;
  padding: 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  position: relative;
  margin: 0 auto;
}

.polaroid-container.special-photo{
  transform:rotate(-1deg);
  -ms-transform:rotate(-1deg); /* IE9 */
  -webkit-transform:rotate(-1deg); /* Safari y Chrome */
  -moz-transform:rotate(-1deg);
  max-width: 500px;
  min-width: 400px;
}

.polaroid-container > img:not(.tape) {
  width: 100%;
}

@container (max-width: 249px) {
  .polaroid-container {
    width: 250px;
    max-width: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .polaroid-container.rotate-left {
    left: 50%;
    transform: translateX(-50%) rotate(10deg);
    -ms-transform: translateX(-50%) rotate(10deg); /* IE9 */
    -webkit-transform:  translateX(-50%) rotate(10deg); /* Safari y Chrome */
    -moz-transform: translateX(-50%) rotate(10deg);
  }

  .polaroid-container.rotate-right {
    left: 50%;
    transform: translateX(-50%) rotate(-10deg);
    -ms-transform:translateX(-50%) rotate(-10deg); /* IE9 */
    -webkit-transform:translateX(-50%) rotate(-10deg); /* Safari y Chrome */
    -moz-transform: translateX(-50%) rotate(-10deg);
  }
}


@container (max-width: 399px) {
  .polaroid-container.special-photo{
    width: 300px;
    min-width: 300px;
    max-width: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%) rotate(-1deg);
    -ms-transform: translateX(-50%) rotate(-1deg);
    -webkit-transform: translateX(-50%) rotate(-1deg);
    -moz-transform: translateX(-50%) rotate(-1deg);
  }
}

.tape{
  position: absolute;
  opacity: 0.75;
  width: 60%;
  margin: auto;
  display: block;
  transform: translate(0%, 0%);
  bottom: 89%;
}

.tape.left{
   transform: translate(65%, 45%) rotate(30deg)
}

.tape.right {
   transform: translate(-65%, 45%) rotate(-45deg)
}

.polaroid-text {
    display:block;
    margin-top:1em;
    text-align:center;
    font-style:italic;
    font-family: "Permanent Marker", cursive;
    color: #586957
}

.rotate-left {
  right: 0px;
  transform:rotate(10deg);
  -ms-transform:rotate(10deg); /* IE9 */
  -webkit-transform:rotate(10deg); /* Safari y Chrome */
  -moz-transform:rotate(10deg);
}

.rotate-right {
  left: 0px;
  transform:rotate(-10deg);
  -ms-transform:rotate(-10deg); /* IE9 */
  -webkit-transform:rotate(-10deg); /* Safari y Chrome */
  -moz-transform:rotate(-10deg);
}


/* CALENDARIO */
/* ______________________________________________________________ */

.calendar-container{
  margin: auto;
  max-width: 600px;
  width: 100%;
  position: relative;
}

.calendar{
  width: 100%;
  display: block;
  height: auto;
}

.corazon {
  position: absolute;
  transform: translate(-0%, 0%) rotate(8deg);
  overflow: visible;
  pointer-events: none;
  right: 2%;
  bottom: 1%;
  width: 42%;
}

.corazon path {
  fill: none;
  stroke: #ab7a7a;
  stroke-width: 8;
  stroke-linecap: round;
  stroke-linejoin: round;

  /* efecto de trazo dibujado */
  stroke-dasharray: 600;
  stroke-dashoffset: 600;

  animation: dibujar-corazon 4s ease-in-out infinite;
}

@keyframes dibujar-corazon {
  0% {
      stroke-dashoffset: 600;
  }

  45% {
      stroke-dashoffset: 0;
  }

  65% {
      stroke-dashoffset: 0;
  }

  100% {
      stroke-dashoffset: 600;
  }
}


/* VIDEO */
/* ______________________________________________________________ */

video{
  width: 100%;
  position: absolute;
  bottom: 15.5%;
  left: 4%;
  width: 92%;
  height: 70.5%;
  object-fit: fill;
  z-index: 1;
}

.video-frame {
  flex: 2;
  width: 100%;
  min-width: 250px;
  height: fit-content;
  position: relative;
}

.video-frame img{
  position: relative;
  z-index: 2;
  width: 100%;
}

.direction{
  height: fit-content;
  background-color: #7b8f71;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.direction > div {
  padding: 30px 25px;
  background-color: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  transform: translate(-10px,-7px) rotate(3deg)
}

.direction > div > p {
  font-size: 33px;
}

.direction > div > a > i{
  font-size: 150px;
}

.direction > div > a{
  cursor: pointer;
}

.map-icon{
  height: 150px;
  animation: gentle-bounce 1.5s ease-in-out infinite;
}

.mark-shadow{
  width: 57px;
  height: 12px;
  background: #bbc49c;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
  bottom: 15px;
  animation: increase 1.5s ease-in-out infinite;
}

@keyframes gentle-bounce {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

@keyframes increase {
  0%, 100% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }
}